.underline{
    text-decoration: underline;
}


/* default style */
dl{ display: block; margin-top: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0;}
dt{	display: block;}
dd{ display: block; margin-left: 40px;}

.text-right{
    text-align: right;
}

h3.prettyprint{
    text-transform:uppercase;
}

.mt-4 {
    margin-top:4px;
}

.bg-bluecustom {
    background-color:#0968f6;
}

.bluecustom{
    color:#0968f6;
}

.border-bluecustom{
    border-color: #0968f6;
}

.bg-green-100{
    background-color: #d1fae5; /* un vert très pâle */
}

.text-green-800{
    color: #065f46; /* un vert foncé, très lisible */
}

.text-orange-600{
    color: #ea580c; /* orange foncé, saturé, très lisible */
}

.h-42{
    max-height: 42px; /* bargain titles*/
}

.w-24 { width: 6rem; }         /* 96px */
.h-24 { height: 6rem; }
.max-w-full { max-width: 100%; }
.max-h-full { max-height: 100%; }
.object-contain { object-fit: contain; }
.flex-1 { flex: 1 1 0%; }
.flex-shrink-0 { flex-shrink: 0; }
.rounded-md { border-radius: 0.375rem; }
/* Forcer le lien parent en flex */
.product-card > a {
    display: flex !important;
    gap: 1rem;           /* équivalent de gap-4 */
    padding: 1rem;       /* p-4 */
    text-decoration: none;
}
.lg-grid-cols-2 {
}

@media (min-width: 1024px) {
    .lg-grid-cols-2 {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}