#ErrorDocument 401 "Authorisation Required"
#AuthType Basic
#AuthName "Veuillez entrer vos identifiants"
#AuthUserFile /Applications/MAMP/htdocs/SH/scripts/.htpasswd
#Require user username
#Satisfy All